horizon-outdoors-cx-agent.json
{
  "name": "Horizon Outdoors CX Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        0
      ],
      "id": "aa6c553e-dc93-4c91-84dd-630e794ae972",
      "name": "When chat message received",
      "webhookId": "11452bc9-77c2-48fd-88b4-e79cefec096d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistantYou are the AI customer experience agent for Horizon Outdoors, a premium outdoor gear company. Your name is Ridge.\n\nBRAND VOICE:\n- Warm, knowledgeable, and enthusiastic about the outdoors\n- Speak like a friendly expert at a gear shop, not a corporate bot\n- Use first person (\"I'd be happy to help\") not passive voice\n- Keep responses concise — customers want answers, not essays\n\nGOALS:\n- Resolve customer issues on first contact wherever possible\n- Look up orders when customers provide an order number\n- Process returns and exchanges per company policy\n- Recommend products based on customer needs\n\nGUARDRAILS:\n- NEVER offer discounts or price adjustments — escalate these to a human\n- NEVER modify shipping addresses on orders already dispatched\n- If a customer is angry or asks to speak to a manager, acknowledge their frustration empathetically and escalate\n- Do not make promises about delivery dates you cannot verify\n- If you are unsure about any policy, say so honestly and escalate\n\nRETURN POLICY:\n- 30-day return window from delivery date\n- Items must be unused and in original packaging\n- Free return shipping on defective items\n- Customer pays return shipping on change-of-mind returns\n- Exchanges can be processed for different size/colour of same item\n\nESCALATION:\nWhen escalating, summarise the conversation so far and the customer's core issue so the human agent can pick up seamlessly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        0
      ],
      "id": "a1ff30be-3a64-4c1a-9f69-611456dd5544",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "ffaedb98-c078-4812-b1dc-27b1453ef1bd",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "jV6rAMBlz8HJNCaL",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "1c658882-1f28-42d0-8d6e-e3dfdf6285ef",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "const orders = {\n  \"HZ-10042\": {\n    customer: \"Sarah Chen\",\n    status: \"Delivered\",\n    date: \"2026-03-12\",\n    items: [\n      { name: \"Alpine Pro Backpack 45L\", price: 289, colour: \"Forest Green\" },\n      { name: \"Summit Trekking Poles\", price: 129, colour: \"Carbon Black\" }\n    ],\n    shipping: \"Express\",\n    tracking: \"SGP2026031245X\",\n    deliveredDate: \"2026-03-15\"\n  },\n  \"HZ-10078\": {\n    customer: \"James Tan\",\n    status: \"In Transit\",\n    date: \"2026-03-17\",\n    items: [\n      { name: \"Ridgeline Waterproof Jacket\", price: 349, colour: \"Storm Blue\", size: \"L\" }\n    ],\n    shipping: \"Standard\",\n    tracking: \"SGP2026031789Y\",\n    estimatedDelivery: \"2026-03-22\"\n  },\n  \"HZ-10091\": {\n    customer: \"Priya Sharma\",\n    status: \"Processing\",\n    date: \"2026-03-19\",\n    items: [\n      { name: \"Basecamp 2-Person Tent\", price: 459, colour: \"Sage\" },\n      { name: \"ThermoSleep Sleeping Bag -5C\", price: 219, colour: \"Midnight\" }\n    ],\n    shipping: \"Express\",\n    estimatedDelivery: \"2026-03-23\"\n  }\n};\n\nconst orderNumber = $input.item.json.orderNumber || $input.item.json.query;\nconst order = orders[orderNumber?.toUpperCase()];\n\nif (order) {\n  return { json: order };\n} else {\n  return { json: { error: \"Order not found. Please check the order number and try again.\" } };\n}",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"orderNumber\": {\n            \"type\": \"string\",\n            \"description\": \"The order number to look up, e.g. HZ-10042\"\n        }\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "bb7e9c5e-c626-4598-a1a4-f3155cc75e00",
      "name": "lookup_order",
      "notesInFlow": false
    },
    {
      "parameters": {
        "description": "Process a return or exchange request. Call this when a customer wants to return or exchange an item.",
        "jsCode": "const orderNumber = query.split(\",\")[0]?.trim();\nconst reason = query.split(\",\")[1]?.trim() || \"change_of_mind\";\nconst itemName = query.split(\",\")[2]?.trim() || \"item\";\n\nconst returnId = \"RTN-\" + Math.floor(Math.random() * 90000 + 10000);\n\nconst freeShipping = reason.toLowerCase().includes(\"defect\");\n\nreturn JSON.stringify({\n  returnId: returnId,\n  orderNumber: orderNumber,\n  item: itemName,\n  reason: reason,\n  status: \"Return initiated\",\n  instructions: \"A prepaid return label will be emailed within 2 hours. Please pack the item in its original packaging and drop it at any SingPost outlet. Refund will be processed within 5-7 business days of receiving the item.\",\n  freeShipping: freeShipping\n});"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "00536b58-7f6b-4a6a-9116-aaffdf6770a0",
      "name": "Process Return"
    },
    {
      "parameters": {
        "description": "Answer product questions about Horizon Outdoors gear. Call this when a customer asks about products, features, sizing, care instructions, or recommendations.",
        "jsCode": "const catalogue = {\n  \"alpine pro backpack 45l\": {\n    name: \"Alpine Pro Backpack 45L\",\n    price: 289,\n    colours: [\"Forest Green\", \"Storm Grey\", \"Desert Sand\"],\n    features: \"Waterproof ripstop nylon, adjustable torso length, integrated rain cover, hydration sleeve, 9 pockets including hip belt storage. Weight: 1.4kg.\",\n    sizing: \"One size fits torso lengths 40-52cm. Adjustable shoulder straps and hip belt.\",\n    care: \"Spot clean with mild soap. Do not machine wash. Hang dry. Reapply DWR coating annually.\",\n    bestFor: \"Multi-day hiking and backpacking trips\"\n  },\n  \"ridgeline waterproof jacket\": {\n    name: \"Ridgeline Waterproof Jacket\",\n    price: 349,\n    colours: [\"Storm Blue\", \"Alpine Red\", \"Black\"],\n    sizes: [\"XS\", \"S\", \"M\", \"L\", \"XL\", \"XXL\"],\n    features: \"3-layer Gore-Tex membrane, fully taped seams, helmet-compatible hood, pit zips, 3 external pockets. Weight: 380g.\",\n    sizing: \"Slim athletic fit. Size up if layering over fleece. See size chart on product page.\",\n    care: \"Machine wash cold on gentle cycle. Tumble dry low to reactivate DWR. Do not iron or dry clean.\",\n    bestFor: \"Mountain hiking and trail running in wet conditions\"\n  },\n  \"summit trekking poles\": {\n    name: \"Summit Trekking Poles\",\n    price: 129,\n    colours: [\"Carbon Black\", \"Silver\"],\n    features: \"Carbon fibre shaft, 3-section telescoping (65-135cm), quick-lock mechanism, cork grips with extended foam, tungsten carbide tips. Weight: 195g per pole.\",\n    care: \"Wipe down after use. Dry fully before storing collapsed. Lubricate lock mechanism seasonally.\",\n    bestFor: \"Day hikes to multi-day treks on varied terrain\"\n  },\n  \"basecamp 2-person tent\": {\n    name: \"Basecamp 2-Person Tent\",\n    price: 459,\n    colours: [\"Sage\", \"Burnt Orange\"],\n    features: \"Freestanding dome, 3-season, 2 vestibules, 2 doors, DAC Featherlite poles, 3000mm waterproof floor, 8.5 sqm interior. Weight: 2.1kg packed.\",\n    sizing: \"Sleeps 2 comfortably. Interior: 220cm x 130cm x 105cm height.\",\n    care: \"Dry completely before storing. Never store compressed when wet. Seam seal annually.\",\n    bestFor: \"Backcountry camping in spring, summer, and autumn\"\n  },\n  \"thermosleep sleeping bag -5c\": {\n    name: \"ThermoSleep Sleeping Bag -5C\",\n    price: 219,\n    colours: [\"Midnight\", \"Olive\"],\n    features: \"Synthetic insulation rated to -5C comfort, mummy shape, draft collar, full-length zip baffle, compression sack included. Weight: 1.3kg.\",\n    sizing: \"Regular fits up to 183cm. Long version available for up to 198cm.\",\n    care: \"Machine wash front-loader only, gentle cycle. Tumble dry low with tennis balls to restore loft. Store uncompressed.\",\n    bestFor: \"3-season camping and cooler shoulder season trips\"\n  }\n};\n\nconst searchTerm = query.toLowerCase();\nlet results = [];\n\nfor (const [key, product] of Object.entries(catalogue)) {\n  if (searchTerm.includes(key) || key.includes(searchTerm) ||\n      product.bestFor.toLowerCase().includes(searchTerm) ||\n      product.features.toLowerCase().includes(searchTerm)) {\n    results.push(product);\n  }\n}\n\nif (results.length === 0) {\n  const allProducts = Object.values(catalogue).map(p =>\n    `${p.name} ($${p.price}) - ${p.bestFor}`\n  ).join(\"\\n\");\n  return \"No exact match found. Here is our full product range:\\n\" + allProducts;\n}\n\nreturn results.map(p =>\n  `${p.name} - $${p.price}\\nColours: ${p.colours.join(\", \")}\\nFeatures: ${p.features}\\n${p.sizing ? \"Sizing: \" + p.sizing + \"\\n\" : \"\"}Care: ${p.care}\\nBest for: ${p.bestFor}`\n).join(\"\\n\\n\");"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        736,
        288
      ],
      "id": "b77c1495-7fd2-44fc-8862-acdc1d0ebf45",
      "name": "Product Knowledge"
    },
    {
      "parameters": {
        "description": "Escalate a conversation to a human agent. Call this when the customer requests a manager, when you cannot resolve their issue, when they request a discount or price adjustment, or when they are visibly frustrated. Always provide a summary of the conversation and the reason for escalation.",
        "jsCode": "const reason = query.split(\"|\")[0]?.trim() || \"Customer requested human agent\";\nconst summary = query.split(\"|\")[1]?.trim() || \"No summary available\";\n\nconst ticketId = \"ESC-\" + Math.floor(Math.random() * 90000 + 10000);\nconst timestamp = new Date().toLocaleString(\"en-SG\", { timeZone: \"Asia/Singapore\" });\n\nconst escalationRecord = {\n  ticketId: ticketId,\n  timestamp: timestamp,\n  reason: reason,\n  conversationSummary: summary,\n  priority: reason.toLowerCase().includes(\"angry\") || reason.toLowerCase().includes(\"frustrat\") ? \"HIGH\" : \"NORMAL\",\n  status: \"Queued for human agent\",\n  estimatedWaitTime: \"Under 5 minutes\",\n  channel: \"Live Chat\",\n  message: \"I've created escalation ticket \" + ticketId + \". A member of our team will be with you shortly. I've shared a full summary of our conversation so you won't need to repeat anything.\"\n};\n\nreturn JSON.stringify(escalationRecord);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        864,
        224
      ],
      "id": "1d114809-c7ad-4549-a11c-20e575048953",
      "name": "Escalate to Human"
    },
    {
      "parameters": {
        "description": "Delegate to the Returns Specialist for complex return, exchange, refund, or warranty queries. Call this when a customer has a detailed question about returns policy, warranty claims, or needs step-by-step guidance through a return process.",
        "workflowId": {
          "__rl": true,
          "value": "GchF2GTc2Rucxz9x",
          "mode": "list",
          "cachedResultUrl": "/workflow/GchF2GTc2Rucxz9x",
          "cachedResultName": "Returns Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        288
      ],
      "id": "6dd2b361-ea2c-4ab6-b0be-7393107b6801",
      "name": "Call 'Returns Specialist'"
    },
    {
      "parameters": {
        "description": "Consult the Returns Specialist for complex return, exchange, warranty, or refund questions. Call this for detailed policy guidance, warranty claim assessments, gift returns, or when the customer needs step-by-step return instructions. Provide the full context of the customer's situation.",
        "jsCode": "const situation = query.toLowerCase();\n\nlet response = \"\";\n\nif (situation.includes(\"warranty\") || situation.includes(\"defect\") || situation.includes(\"broken\")) {\n  response = \"RETURNS SPECIALIST ASSESSMENT:\\n\\n\";\n  response += \"This appears to be a WARRANTY/DEFECT claim.\\n\\n\";\n  response += \"Policy: All Horizon Outdoors products carry a 12-month warranty from date of purchase covering manufacturing defects (not wear and tear).\\n\\n\";\n  response += \"Requirements:\\n- Order number for purchase verification\\n- Photos of the defect\\n- Description of when the issue was first noticed\\n\\n\";\n  response += \"If approved, customer can choose: full replacement OR full refund.\\n\";\n  response += \"Free return shipping applies for all warranty claims.\\n\";\n  response += \"Processing time: 5-7 business days after item received.\";\n} else if (situation.includes(\"gift\")) {\n  response = \"RETURNS SPECIALIST ASSESSMENT:\\n\\n\";\n  response += \"This is a GIFT RETURN.\\n\\n\";\n  response += \"Policy: Gift purchases can be returned with a gift receipt for STORE CREDIT only (no cash refund).\\n\\n\";\n  response += \"Requirements:\\n- Gift receipt OR order number from the purchaser\\n- Item must be unused and in original packaging\\n- 30-day return window from delivery date\\n\\n\";\n  response += \"Customer pays return shipping ($12.90 flat rate) unless item is defective.\\n\";\n  response += \"Store credit issued within 3 business days of receiving the item.\";\n} else if (situation.includes(\"exchange\") || situation.includes(\"size\") || situation.includes(\"colour\") || situation.includes(\"color\") || situation.includes(\"swap\")) {\n  response = \"RETURNS SPECIALIST ASSESSMENT:\\n\\n\";\n  response += \"This is an EXCHANGE request.\\n\\n\";\n  response += \"Policy: Exchanges processed for different size or colour of the SAME item at no charge.\\n\\n\";\n  response += \"Process:\\n1. Confirm which item and desired new size/colour\\n2. Verify new size/colour is in stock\\n3. Generate prepaid return label (free for exchanges)\\n4. Ship replacement once original item is scanned at SingPost\\n\\n\";\n  response += \"Estimated timeline: 3-5 business days after drop-off.\";\n} else if (situation.includes(\"refund\") || situation.includes(\"money back\")) {\n  response = \"RETURNS SPECIALIST ASSESSMENT:\\n\\n\";\n  response += \"This is a REFUND request.\\n\\n\";\n  response += \"Policy:\\n- 30-day window from delivery date\\n- Item must be unused and in original packaging\\n- Defective items: free return shipping + full refund\\n- Change of mind: customer pays return shipping ($12.90 flat rate) + full refund\\n\\n\";\n  response += \"Refund method: Original payment method\\n\";\n  response += \"Processing time: 5-7 business days after item received.\\n\";\n  response += \"Note: Sale items are final sale and cannot be refunded, only exchanged.\";\n} else {\n  response = \"RETURNS SPECIALIST ASSESSMENT:\\n\\n\";\n  response += \"General returns guidance:\\n\\n\";\n  response += \"- 30-day return window from delivery date\\n\";\n  response += \"- Items must be unused and in original packaging\\n\";\n  response += \"- Defective: free return shipping\\n\";\n  response += \"- Change of mind: $12.90 flat rate return shipping\\n\";\n  response += \"- Exchanges (size/colour): free, same item only\\n\";\n  response += \"- Gift returns: store credit with gift receipt\\n\";\n  response += \"- Warranty: 12 months, manufacturing defects only\\n\";\n  response += \"- Refunds processed in 5-7 business days\\n\\n\";\n  response += \"Please provide more details about the customer's specific situation for a tailored recommendation.\";\n}\n\nreturn response;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1120,
        224
      ],
      "id": "03668cb9-05c9-445f-b4bf-d3470f5d3a5b",
      "name": "Returns Specialist"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "lookup_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Process Return": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Returns Specialist'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Returns Specialist": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7267012c-e1da-4e0c-b04f-85db7147ef0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22868dd6893c92c0e9bb98080721125d53322fd8ca25c40b593e8b4003e5c8ea"
  },
  "id": "gJUsEkeQq86bznVa",
  "tags": []
}